{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
  <h1>Group Detail</h1>

  <h1>{{ object.name }}</h1>
  <p>Leader: {{ object.leader.username }}</p>
  <p>Members: {{ object.members_count }}</p>
  <p>Date Created: {{ object.date_created }}</p>

  {% if user.is_authenticated %}
    <!-- Display delete group functionality only for the leader -->
    {% if object.leader == user %}
      <a href="{% url 'basic_app:delete_group' pk=object.pk %}">Delete group</a>
    {% else %}
      {% if already_joined %}
        <h1>Already Joined</h1>
      {% else %}
        <form action="{% url 'basic_app:join_group' pk=group.pk %}" method="post">
          {% csrf_token %}

          <input type="submit" value="Join Group">
        </form>
      {% endif %}
    {% endif %}

    <!-- Display the posts -->
  {% endif %}
{% endblock %}