{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1>Home Page</h1>

  {% if user.is_authenticated %}
    <p>Currently authenticated as {{ user.username }}</p>

    <!-- Display users recent posts, and groups he/she is in -->
    <h2>Groups</h2>

      {% if object_list %}

          {% for assn in object_list %}
            <div class="card bg-dark mb-3" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="{% url 'basic_app:group_detail' pk=assn.group.id %}">
                    {{ assn.group.name }}
                  </a>
                </h5>
                <p class="card-text">Members: {{ assn.group.members_count }}</p>
              </div>
            </div>
          {% endfor %}

      {% else %}
        <p>You are currently not in any groups.</p>
      {% endif %}
  {% else %}
    <p>
      You are currently not signed in.
        <a href="{% url 'basic_app:user_signup' %}">Sign up</a> 
      for full features!
    </p>
  {% endif %}
{% endblock %}