{% extends 'base.html' %}

{% block title %}Groups{% endblock %}

{% block body %}
  {% if not user.is_authenticated %}
    <p>You are not logged in. Log in to post!</p>
  {% else %}
    <button>
      <a href="{% url 'basic_app:create_group' %}" class="link">
        Create a group!
      </a>
    </button>
  {% endif %}

  {% for group in object_list %}
    <h1>
      <a href="{% url 'basic_app:group_detail' pk=group.pk %}" class="href">
        {{ group.name }}
      </a>
    </h1>
    <p>Members: {{ group.members_count }}</p>
    <form action="{% url 'basic_app:join_group' pk=group.pk %}" method="post">
      {% csrf_token %}

      <input type="submit" value="Join Group">
    </form>
  {% endfor %}
{% endblock %}