{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Groups{% endblock %}

{% block body %}
  {% if not user.is_authenticated %}
    <p>
      You are not signed in. 
        <a href="{% url 'basic_app:user_signup' %}">Sign up</a>
      to join groups!
    </p>
  {% else %}
    <h1>Recommended</h1>

    <a class="btn btn-success mt-2" href="{% url 'basic_app:create_group' %}">
      Create a group
      <img src="{% static 'basic_app/icons/pencil.svg' %}" alt="Failed" height="25" width="25">
    </a>
  {% endif %}
  {% for group in object_list %}

    <div class="card bg-dark mt-3" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">
          <a href="{% url 'basic_app:group_detail' pk=group.id %}">
            {{ group.name }}
          </a>
        </h4>
        <h6>Owned by {{ group.leader.username }}</h6>
        <p class="card-text">Members: {{ group.members_count }}</p>
        <form action="{% url 'basic_app:join_group' pk=group.id %}" method="post">
          {% csrf_token %}

          <input class="btn btn-primary" type="submit" value="Join Group">
        </form>
      </div>
    </div>

  {% endfor %}
{% endblock %}
